apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudmart-frontend-app
spec:
  replicas: {{ frontend_replicas }}
  selector:
    matchLabels:
      app: cloudmart-frontend-app
  template:
    metadata:
      labels:
        app: cloudmart-frontend-app
    spec:
      serviceAccountName: {{ k8s_service_account_name }}
      containers:
      - name: cloudmart-frontend-app
        image: {{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/{{ ecr_frontend_repo }}:latest
        ports:
        - containerPort: 5001

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-env-config
  namespace: default
data:
  .env: "VITE_API_BASE_URL=http://{{ backend_url }}:5000/api"

---
apiVersion: v1
kind: Service
metadata:
  name: cloudmart-frontend-app-service
spec:
  type: LoadBalancer
  selector:
    app: cloudmart-frontend-app
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
